<header class="site-header" role="banner">
  <div class="container">
    <div class="header-inner">
      <a routerLink="/" class="logo" aria-label="Marimex Home">M<span>arimex</span></a>

      <button class="menu-toggle" (click)="toggleMenu()" aria-label="Toggle navigation menu" [attr.aria-expanded]="isMenuOpen">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#333" stroke-width="2">
          <line x1="3" y1="12" x2="21" y2="12" *ngIf="!isMenuOpen"></line>
          <line x1="3" y1="6" x2="21" y2="6" *ngIf="!isMenuOpen"></line>
          <line x1="3" y1="18" x2="21" y2="18" *ngIf="!isMenuOpen"></line>
          <line x1="18" y1="6" x2="6" y2="18" *ngIf="isMenuOpen"></line>
          <line x1="6" y1="6" x2="18" y2="18" *ngIf="isMenuOpen"></line>
        </svg>
      </button>

      <nav [ngClass]="{'open': isMenuOpen}" role="navigation" aria-label="Main navigation">
        <ul>
          <li *ngIf="!isAuth">
            <a routerLink="/login" (click)="toggleMenu()">Se connecter</a>
          </li>
          <li *ngIf="isAuth" class="menu-container" [ngClass]="{'active': isMenuOpen}" (click)="toggleMenu()">
            <a href="#" (click)="$event.preventDefault()">{{ user?.name }}</a>
            <div class="menu">
              <a *ngIf="user?.isAdmin" routerLink="/admin" (click)="toggleMenu()">Dashboard</a>
              <a *ngIf="user?.isAdmin" routerLink="admin/orders" (click)="toggleMenu()">Orders</a>

              <a href="#" (click)="logout()">Logout</a>
            </div>
          </li>
          <li><a routerLink="/" routerLinkActive="active" (click)="toggleMenu()">Home</a></li>
          <li><a routerLink="/products" routerLinkActive="active" (click)="toggleMenu()">Collection</a></li>
          <li><a routerLink="/about" routerLinkActive="active" (click)="toggleMenu()">About</a></li>
          <li><a routerLink="/contact" routerLinkActive="active" (click)="toggleMenu()">Contact</a></li>
          <li>
            <a routerLink="/cart" class="cart-icon" aria-label="View cart" (click)="toggleMenu()">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="9" cy="21" r="1"></circle>
                <circle cx="20" cy="21" r="1"></circle>
                <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
              </svg>
              <span class="cart-count">{{ cartQuantity  }}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
